/* Estilos para o cabeçalho */
header {
    background-color: #f2f2f2;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para a seção de Projetos */
#projetos {
    margin-top: 80px;
    padding: 40px;
}

h1 {
    text-align: center;
    padding: 3%;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para a seção de Contato */
#contato {
    margin-top: 80px;
    padding: 40px;
    text-align: center;
}

/* Outros estilos personalizados */
/* ... */

.img-projeto{
    width: 20rem;
    align-items: center;
}