/* Estilos gerais */
body {
  background-color: #272838;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Estilos do cabeçalho */
header {
  background-color: #1B2432;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  top: 0;
  width: 100%;
}

.navbar {
  margin-top: 0;
}

.navbar-brand {
  margin-bottom: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7E7F9A;
    padding: 10px;
    font-size: 18px;
  }
  
  
.nav-link:hover {
color: #fff;
background-color: #007bff;
border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

/* Estilos da seção de Projetos */
#projetos {
  margin-top: 80px;
  padding: 40px;
}

h1 {
  color: white;
  padding: 3%;
  text-align: center;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projeto {
  background-color: #F9F8F8;
  border: 1px solid #ccc;
  border-radius: 45px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 20px;
}

.img-projeto {
  align-items: center;
  height: 200px;
  width: 200px;
}

.img-projeto:hover {
  transform: scale(1.1);
}

/* Estilos da seção de Contato */
#footer {
  margin-top: 80px;
  padding: 40px;
  text-align: center;
}
